<section id="lights">

    <div class="row">
        <div class="small-8 columns">
            <p>light</p>
        </div>
        <div class="small-4 columns">
            <div class="switch round">
                <input id="lightSwitch" type="checkbox" name="light">
                <label for="lightSwitch">light</label>
            </div>
        </div>
    </div>

</section>
