<section id="lights">

    <div class="row">
        <div class="small-1 columns">&nbsp;</div>
        <div class="small-5 columns">
            <p style="padding-top:1em;">leds</p>
        </div>
        <div class="small-5 columns">
            <div class="switch round large">
                <input id="leds-switch" type="checkbox" name="light">
                <label id="leds-switch-label" for="leds-switch">light</label>
            </div>
        </div>
        <div class="small-1 columns">&nbsp;</div>
    </div>

    <div class="row">
        <div class="small-1 columns">&nbsp;</div>
        <div class="small-1 columns">
            <div id="slide-red" class="range-slider round vertical-range" data-slider data-options="vertical: true;">
                <span class="range-slider-handle" role="slider" tabindex="0" style="background-color: #ff6666"></span>
                <span class="range-slider-active-segment" style="background-color: #ff6666"></span>
                <input type="hidden">
            </div>
        </div>
        <div class="small-3 columns">&nbsp;</div>
        <div class="small-1 columns">
            <div id="slide-green" class="range-slider round vertical-range" data-slider data-options="vertical: true;">
                <span class="range-slider-handle" role="slider" tabindex="0" style="background-color: #66ff66"></span>
                <span class="range-slider-active-segment" style="background-color: #66ff66"></span>
                <input type="hidden">
            </div>
        </div>
        <div class="small-3 columns">&nbsp;</div>
        <div class="small-1 columns">
            <div id="slide-blue" class="range-slider round vertical-range" data-slider data-options="vertical: true;">
                <span class="range-slider-handle" role="slider" tabindex="0" style="background-color: #6666ff"></span>
                <span class="range-slider-active-segment" style="background-color: #6666ff"></span>
                <input type="hidden">
            </div>
        </div>
        <div class="small-1 columns">&nbsp;</div>
    </div>

</section>
