<section id="pomodoro-section">

    <div id="pomodoro-form" class="small-4  small-centered columns">
        <input type="number" name="pomodoro_minutes" placeholder="how many minutes?">
          <a id="go_pomodoro" class="button expand">Go</a>
    </div>

    <div id="pomodoro-countdown" class="text-center">
        <div id="pomodoro-countdown-timer"></div>
    </div>
</section>
