<section id="pomodoro-section">
    <div class="small-4  small-centered columns">
        <input type="number" name="pomodoro_minutes" placeholder="how many minutes?">
    </div>
    <div class="small-4 small-centered columns">
        <a id="go_pomodoro" class="button expand">Go</a>
    </div>

</section>
