// Place all the styles related to the control_panel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.valign-middle {
  display: table;
}

.valign-middle .columns {
  display: table-cell;
  vertical-align: middle;
}

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
  float: none;
}

.main-section, #lights-section, #pomodoro-section, #pomodoro-countdown {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height:100%;
}

#pomodoro-section {

  #pomodoro-form {
    padding-top: 5em;
  }

  #pomodoro-countdown {

    #pomodoro-countdown-timer {
      font-size: 6em;
    }

    #stop-pomodoro {
      position: fixed;
      bottom: 0px;
      left: 0px;
      right: 0px;
    }
  }
}
